body {
  --text-highlight: var(--vscode-tab-activeForeground);
  --text-default: var(--vscode-foreground);
  --text-gray: var(--vscode-tab-inactiveForeground);
  --bg-02: var(--vscode-sideBar-background);
  --bg-03: var(--vscode-quickInput-background);
  --bg-code: var(--vscode-editor-background);
  --fill-01: var(--vscode-commandCenter-background);
  --fill-03: var(--vscode-list-hoverBackground);
  --line-02: var(--vscode-commandCenter-border);
  --line-03: var(--vscode-commandCenter-border);
  --btn-hover: var(--vscode-list-hoverBackground);
  --bg-chat-message: var(--vscode-list-inactiveSelectionBackground);
  --font-family: SF Pro Text, Consolas;
}

body[codeverse-theme='dark'] {
  --text-multcolor: linear-gradient(
    95.22deg,
    #6fa9ff 10.22%,
    #6aa6ff 44.22%,
    #ffb37d 64.36%,
    #ff8a4f 83.79%,
    #b43aff 106.58%
  );
  --input-bg-default: radial-gradient(
    121.09% 172.92% at 0% 4.17%,
    rgba(0, 88, 220, 0.7) 0%,
    rgba(106, 166, 255, 0.7) 45.75%,
    rgba(255, 255, 255, 0.7) 71.03%,
    rgba(255, 138, 79, 0.7) 81.96%,
    rgba(180, 58, 255, 0.7) 91.67%
  );
  --input-bg-activate: radial-gradient(
    121.09% 172.92% at 0% 4.17%,
    #0058dc 0%,
    #6aa6ff 45.75%,
    #ffffff 71.03%,
    #ff8a4f 81.96%,
    #b43aff 91.67%
  );
  --box-shadow: 0px 2px 16px 0px #0000005c;
  --login-border: conic-gradient(
    from 145.74deg at 57.92% 47.19%,
    #ffb590 0deg,
    #ffffff 21.57deg,
    #77adff 177.66deg,
    #cf75fc 243.34deg,
    #ffb590 360deg
  );
  --login-text: conic-gradient(
    from 142.61deg at 47.2% 43.75%,
    #ffb590 0deg,
    #ffffff 21.57deg,
    #77adff 177.66deg,
    #cf75fc 243.34deg,
    #ffb590 360deg
  );
  --guidance-title: linear-gradient(
    95.22deg,
    #4891ff 10.22%,
    #94bfff 44.22%,
    #ffddc5 64.36%,
    #ff8a4f 83.79%,
    #c25eff 90.79%
  );
  --guidance-button-bg: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
    radial-gradient(
      139.86% 229.94% at -8.7% 50%,
      rgba(0, 88, 220, 0.2) 0%,
      rgba(106, 166, 255, 0.2) 45.75%,
      rgba(255, 255, 255, 0.2) 71.03%,
      rgba(255, 138, 79, 0.2) 81.96%,
      rgba(180, 58, 255, 0.2) 91.67%
    );
  --guidance-button-hover-bg: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
    radial-gradient(
      139.86% 229.94% at -8.7% 50%,
      rgba(0, 88, 220, 0.4) 0%,
      rgba(106, 166, 255, 0.4) 45.75%,
      rgba(255, 255, 255, 0.4) 71.03%,
      rgba(255, 138, 79, 0.4) 81.96%,
      rgba(180, 58, 255, 0.4) 91.67%
    );
  --guidance-bg: #181818;
  --banner-bg: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
    radial-gradient(
      139.86% 229.94% at -8.7% 50%,
      rgba(0, 88, 220, 0.2) 0%,
      rgba(106, 166, 255, 0.2) 45.75%,
      rgba(255, 255, 255, 0.2) 71.03%,
      rgba(255, 138, 79, 0.2) 81.96%,
      rgba(180, 58, 255, 0.2) 91.67%
    );
  --banner-bg-image: radial-gradient(
    121.09% 172.92% at 0% 4.17%,
    rgba(0, 88, 220, 0.7) 0%,
    rgba(106, 166, 255, 0.7) 45.75%,
    rgba(255, 255, 255, 0.7) 71.03%,
    rgba(255, 138, 79, 0.7) 81.96%,
    rgba(180, 58, 255, 0.7) 91.67%
  );
  --highlight-bg: #ffffff;
  --blue: #387bff;
  --blue-hover: #78a5ff;
  --blue-active: #1759dd;
  --blue-tr-3: #3579ff5d;
  --red: #cc4b53;
  --red-hover: #f2858c;
  --red-active: #b3363e;
  --red-tr-1: #cc4b5333;
  --red-tr-2: #cc4b5347;
  --input-view-bg: radial-gradient(
    123.53% 77.66% at 73.45% 22.12%,
    #5200ff 8.06%,
    #ff814b 25.29%,
    #fff 51.83%,
    #367bff 72%
  );
}

body[codeverse-theme='light'] {
  --text-multcolor: linear-gradient(96.59deg, #4790ff -32.42%, #0066ff 29.93%, #8425ff 59.78%, #ff6518 89.64%);
  --input-bg-default: linear-gradient(96.59deg, #4790ff -32.42%, #0066ff 29.93%, #8425ff 59.78%, #ff6518 89.64%);
  --input-bg-activate: linear-gradient(96.59deg, #4790ff -32.42%, #0066ff 29.93%, #8425ff 59.78%, #ff6518 89.64%);
  --login-border: linear-gradient(96.59deg, #4790ff -32.42%, #0066ff 29.93%, #8425ff 59.78%, #ff6518 89.64%);
  --login-text: linear-gradient(96.59deg, #4790ff -32.42%, #0066ff 29.93%, #8425ff 59.78%, #ff6518 89.64%);
  --guidance-title: linear-gradient(95.22deg, #4790ff 10.22%, #0066ff 44.22%, #8425ff 64.36%, #ff6518 83.79%);
  --box-shadow: 0px 2px 16px 0px #00000029;
  --guidance-button-hover-bg: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
    radial-gradient(
      139.86% 229.94% at -8.7% 50%,
      rgba(0, 88, 220, 0.4) 0%,
      rgba(106, 166, 255, 0.4) 45.75%,
      rgba(255, 255, 255, 0.4) 71.03%,
      rgba(255, 138, 79, 0.4) 81.96%,
      rgba(180, 58, 255, 0.4) 91.67%
    );
  --guidance-bg: rgba(255, 255, 255, 0.9);
  --highlight-bg: #ebecf0;
  --blue: #2f74ff;
  --blue-hover: #5b92ff;
  --blue-active: #1759dd;
  --blue-tr-3: #2f74ff5d;
  --red: #e92d25;
  --red-hover: #ec5c56;
  --red-active: #b11b15;
  --red-tr-1: #e92d251f;
  --red-tr-2: #e92d2529;
  --input-view-bg: radial-gradient(
    123.53% 77.66% at 73.45% 22.12%,
    #5200ff 8.06%,
    #ff814b 25.29%,
    #fff 51.83%,
    #367bff 72%
  );
}

html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--bg-02);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  padding: 0;
  font-weight: normal;
}

.chat-page {
  height: 100%;
  display: flex;
  background-color: var(--bg-02);
  flex-direction: column;
  overflow: auto;
}

.chat-more-info {
  position: absolute;
  max-width: 200px;
  width: calc(100% - 22px);
  right: 10px;
  margin-left: 12px;
  border: 1px solid var(--line-02);
  background: var(--bg-03);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  z-index: 1;
}

.all-setting {
  position: absolute;
  max-width: 200px;
  width: calc(100% - 50px);
  right: 32px;
  margin-left: 12px;
  border: 1px solid var(--line-02);
  background: var(--bg-03);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  z-index: 1;
}

.all-setting .container-disabled {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 28px;
  padding: 0 4px;
  margin: 5px;
  border-radius: 5px;
  opacity: 0.4;
  pointer-events: none;
}

.all-setting .container-disabled .text {
  margin-left: 5px;
  color: var(--text-default);
  font-size: 13px;
  flex-grow: 1;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.all-setting .container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 28px;
  padding: 0 4px;
  margin: 5px;
  border-radius: 5px;
}

.all-setting .container .gear-icon {
  height: 14px;
  width: 14px;
  position: relative;
  margin-top: 6px;
}

.all-setting .container .check-icon {
  width: 13px;
  height: 13px;
}

.all-setting .container .space {
  width: 12px;
}

.all-setting .container:hover {
  background: var(--btn-hover);
}

.all-setting .container .text {
  margin-left: 5px;
  color: var(--text-default);
  font-size: 13px;
  flex-grow: 1;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.chat-more-info .line {
  height: 1px;
  background: var(--line-02);
}

.all-setting .line {
  height: 1px;
  background: var(--line-02);
}

.chat-more-info .container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 28px;
  padding: 0 4px;
  margin: 5px;
  border-radius: 5px;
}

.chat-more-info .container-disabled {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 28px;
  padding: 0 4px;
  margin: 5px;
  border-radius: 5px;
  opacity: 0.4;
  pointer-events: none;
}

.chat-more-info .container:hover {
  background: var(--btn-hover);
}

.chat-more-info .text {
  margin-left: 10px;
  color: var(--text-default);
  font-size: 13px;
  flex-grow: 1;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.chat-history {
  flex: 1;
}

.chat-history .history-container {
  border: 1px solid var(--line-02);
  background: var(--bg-03);
  margin: 10px 20px 20px 20px;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.chat-history .list {
  padding: 0 8px;
  max-height: 400px;
  margin-bottom: 10px;
  overflow: auto;
  cursor: pointer;
}

.chat-history .history-container .title {
  padding: 8px 12px;
  color: var(--text-default);
  font-size: 15px;
  height: 24px;
  display: flex;
  align-items: center;
  font-weight: 600;
  user-select: none;
}

.chat-history .history-container .close {
  height: 12px;
  width: 12px;
  padding: 4px;
  border-radius: 5px;
  margin-left: auto;
  user-select: none;
}

.chat-history .history-container .close:hover {
  background: var(--btn-hover);
}

.chat-history .history-container .list .history {
  padding: 5px 0;
}

.chat-history .history-container .list .history .item-title {
  color: var(--text-gray);
  font-size: 11px;
  font-weight: 500;
  margin-left: 6px;
}

.chat-history .history-container .list .history .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin: 5px 0;
  border-radius: 5px;
}

.chat-history .history-container .list .history .container:hover {
  background: var(--btn-hover);
}

.chat-history .history-container .list .history .icon {
  height: 16px;
  width: 16px;
  padding: 4px 0;
  margin-left: 8px;
  user-select: none;
}

.chat-history .history-container .list .history .text {
  padding-left: 10px;
  color: var(--text-default);
  font-size: 13px;
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 24px;
  line-height: 24px;
  font-weight: 500;
}

.chat-history .history-container .list .history .container:hover .text {
  color: var(--text-highlight);
}

.chat-history .history-container .list .history .delete {
  height: 16px;
  width: 16px;
  padding: 4px;
  justify-content: right;
  margin-right: 4px;
  visibility: hidden;
  display: flex;
  align-items: center;
  fill: var(--red);
}

.chat-history .history-container .list .history .container:hover .delete {
  visibility: visible;
}

.chat-history .history-container .empty-history {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  justify-content: center;
}

.chat-history .history-container .empty-history .icon {
  height: 24px;
  width: 24px;
  padding: 4px;
}

.chat-history .history-container .empty-history .text {
  height: 16px;
  display: flex;
  color: var(--text-gray);
  font-size: 13px;
  font-weight: 500;
}

.chat-help-page {
  flex: 1;
  overflow: visible;
  padding: 12px 0;
  margin: 0 12px;
  background-color: var(--bg-02);
}

.chat-help-page .user {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-highlight);
  font-size: 18px;
  font-weight: 600;
}

.chat-help-page .ask {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-default);
  font-size: 13px;
  font-weight: 500;
  padding: 10px 0;
  height: 50px;
  line-height: 20px;
}

.chat-help-page .ask .label-1 {
  border-radius: 4px;
  padding: 1px 3px;
  margin-left: 5px;
  border: 1px solid var(--line-02);
}

.chat-help-page .ask .label-2 {
  border-radius: 4px;
  padding: 1px 4px;
  border: 1px solid var(--line-02);
}

.chat-help-page .ask .label-3 {
  border-radius: 4px;
  padding: 1px 4px;
  border: 1px solid var(--line-02);
}

.chat-help-page .ask .label-4 {
  border-radius: 4px;
  padding: 1px 7px;
  border: 1px solid var(--line-02);
}

.chat-help-page .type {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-gray);
  font-size: 12px;
  font-weight: 500;
  margin-top: 25px;
}

.chat-help-page .type .label {
  color: var(--text-highlight);
}

.chat-help-page .instruction {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  border-radius: 5px;
  justify-content: center;
  height: 50px;
  border: 1px solid #00000000;
  background-color: var(--fill-01);
  margin-top: 10px;
  box-sizing: content-box;
}

.chat-help-page .instruction:hover {
  background-color: var(--btn-hover);
  border: 1px solid var(--line-02);
}

.chat-help-page .instruction .label {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 20px;
  padding: 2px;
  cursor: pointer;
  box-sizing: content-box;
}

.chat-help-page .instruction .label .icon {
  height: 12px;
  width: 12px;
  margin-right: 5px;
}

.chat-help-page .instruction .label .command {
  font-weight: 600;
  font-size: 13px;
  color: var(--text-highlight);
  cursor: pointer;
}

.chat-help-page .instruction .text {
  font-weight: 500;
  font-size: 12px;
  color: var(--text-gray);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.chat-reference-list .text-highlight .highlight,
.chat-command-list .text-highlight .highlight {
  color: var(--blue);
}

.chat-command-list {
  z-index: 100;
  bottom: 100px;
  background: var(--bg-02);
  border: 1px solid var(--line-02);
  border-radius: 6px;
  padding: 5px 5px 10px 5px;
  margin: 10px 15px 0 15px;
  position: fixed;
  width: calc(100% - 42px);
  box-shadow: var(--box-shadow);
}

.chat-command-list .command-title {
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 15px;
  font-size: 11px;
  font-weight: 800;
  display: flex;
  align-items: center;
  color: var(--text-gray);
  opacity: 0.8;
  padding: 5px 0;
}

.chat-command-list .icon {
  width: 14px;
  height: 14px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-command-list .command {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  border-radius: 5px;
}

.chat-command-list .command-hover {
  background: var(--fill-03);
}

.chat-command-list .command .name {
  color: var(--text-default);
  font-weight: 600;
  font-size: 13px;
  margin-right: 5px;
}

.chat-command-list .command-hover .name {
  color: var(--text-highlight);
  font-weight: 800;
  font-size: 13px;
  margin-right: 5px;
}

.chat-command-list .description {
  color: var(--text-gray);
  margin-left: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  font-weight: 500;
}

.chat-reference-list {
  z-index: 100;
  bottom: 100px;
  background: var(--bg-02);
  border: 1px solid var(--line-02);
  border-radius: 6px;
  padding: 5px 5px 10px 5px;
  margin: 10px 15px 0 15px;
  position: fixed;
  width: calc(100% - 42px);
  box-shadow: var(--box-shadow);
}

.chat-reference-list .reference-title {
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 15px;
  font-size: 11px;
  font-weight: 800;
  display: flex;
  align-items: center;
  color: var(--text-gray);
  opacity: 0.8;
  padding: 5px 0;
}

.chat-reference-list .icon {
  width: 14px;
  height: 14px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--text-highlight);
}

.chat-reference-list .reference {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  border-radius: 5px;
}

.chat-reference-list .reference-hover {
  background: var(--fill-03);
}

.chat-reference-list .reference-disable {
  opacity: 0.3;
}

.chat-reference-list .reference .name {
  color: var(--text-default);
  font-weight: 600;
  font-size: 13px;
  margin-right: 5px;
}

.chat-reference-list .reference-hover .name {
  color: var(--text-highlight);
  font-weight: 800;
  font-size: 13px;
  margin-right: 5px;
}

.chat-reference-list .description {
  color: var(--text-gray);
  margin-left: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  font-weight: 500;
}

.chat-input {
  position: relative;
  background-image: var(--input-bg-default);
  border-color: transparent;
  padding: 1px;
  margin: 0 15px 15px 15px;
  border-radius: 5px;
  caret-color: var(--blue);
  opacity: 0.9;
}

.chat-input-activate:before {
  content: '';
  position: absolute;
  top: -0.2px;
  right: -0.2px;
  bottom: -0.2px;
  left: -0.2px;
  background: var(--input-bg-activate);
  filter: blur(4px);
  z-index: -1;
}

.chat-input-activate {
  background-image: var(--input-bg-activate);
  opacity: 0.9;
}

.chat-input .container {
  padding: 0 6px;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: var(--bg-03);
}

.chat-input .container .instructions {
  display: flex;
  align-items: center;
}

.chat-input .container .instructions .command-hover,
.chat-input .container .instructions .command {
  padding: 6px;
  border-radius: 5px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 4px;
  fill: var(--text-default);
}

.chat-input .container .instructions .reference-hover,
.chat-input .container .instructions .reference {
  padding: 6px;
  border-radius: 5px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 1px;
  margin-bottom: 4px;
  stroke: var(--text-default);
}

.chat-input .container .input {
  padding: 8px 4px;
  font-size: 13px;
  background: var(--bg-03);
  border: none;
  outline: none;
  min-height: 22px;
  max-height: 150px;
  line-height: 22px;
  display: block;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-all;
  overflow-y: auto;
  overflow-x: hidden;
  font-weight: 500;
}

.chat-input .container .input textarea {
  display: inline;
  vertical-align: top;
  resize: none;
}

.chat-input .container .input .ai-task {
  background: var(--text-multcolor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  border: 1px solid var(--line-03);
  border-radius: 5px;
  font-weight: 600;
  padding: 1px 4px;
}

.chat-input .container .input .reference {
  color: var(--text-highlight);
  background: var(--blue-tr-3);
  display: inline;
  padding: 2px 6px;
  border-radius: 4px;
  margin: 0 2px;
  font-weight: 600;
  white-space: pre-wrap;
}

.chat-input .container .input .user-instruction {
  color: var(--text-highlight);
}

.chat-input .container .input .text-special {
  display: flex;
}

.chat-input .container .input .text-placeholder:after {
  content: attr(data-placeholder);
  color: var(--text-gray);
  opacity: 0.8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 3px;
  cursor: text;
}

.chat-input .container .input .text {
  color: var(--text-highlight);
  white-space: pre-wrap;
}

.chat-input .container .send,
.stop {
  margin-left: auto;
  fill: var(--text-gray);
  height: 16px;
  width: 16px;
  padding: 4px;
  border-radius: 5px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 4px;
  box-sizing: content-box;
}

.chat-input .container .stop {
  fill: var(--red);
}

.chat-input .container .send-activate {
  margin-left: auto;
  fill: var(--text-highlight);
  height: 16px;
  width: 16px;
  padding: 4px;
  border-radius: 5px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.chat-input .container .instructions .command:hover,
.chat-input .container .instructions .reference-hover,
.chat-input .container .send-activate:hover,
.chat-input .container .send:hover,
.chat-input .container .stop:hover {
  background: var(--btn-hover);
}

.chat-input .container .instructions .command:hover .tips {
  display: block;
  transform: translateX(-30%);
}

.chat-input .container .instructions .command:hover .tips:after,
.chat-input .container .instructions .command:hover .tips:before {
  left: 30%;
}

.chat-input .container .instructions .reference-hover .tips,
.chat-input .container .send-activate:hover .tips,
.chat-input .container .send:hover .tips,
.chat-input .container .stop:hover .tips {
  display: block;
}

.chat-input .container .instructions .command-hover .icon,
.chat-input .container .instructions .reference-hover .icon,
.chat-input .container .instructions .command .icon,
.chat-input .container .instructions .reference .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.chat-input .container .send-activate .icon,
.chat-input .container .send .icon,
.chat-input .container .stop .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
}

.chat-list {
  flex: 1;
  overflow: auto;
  padding: 0 15px;
  margin-bottom: 15px;
  background-color: var(--bg-02);
  word-break: break-all;
}

.chat-code-block {
  border: 1px solid var(--line-02);
  border-radius: 5px;
  padding-bottom: 1px;
  --box-shadow: 0px 2px 16px 0px #0000005c;
  background-color: var(--bg-code);
}

.chat-code-block .toolbar {
  border-bottom: 1px solid var(--line-02);
  border-radius: 5px 5px 0 0;
  display: flex;
  height: 24px;
  background-color: var(--bg-code);
  padding: 2px 4px;
}

.chat-code-block .toolbar .language-text {
  color: var(--text-default);
  opacity: 0.6;
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
}

.chat-code-block .toolbar .language-icon {
  height: 15px;
  width: 15px;
  padding: 5px;
}

.chat-code-block .toolbar .action {
  height: 24px;
  margin-left: auto;
  min-width: 72px;
}

.chat-code-block .toolbar .action .insert .icon,
.chat-code-block .toolbar .action .copy .icon,
.chat-code-block .toolbar .action .insert-file .icon {
  height: 14px;
  width: 14px;
  padding: 4px;
  border-radius: 5px;
  margin: 0 1px;
  fill: var(--text-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chat-code-block .toolbar .action .insert .icon:hover,
.chat-code-block .toolbar .action .copy .icon:hover,
.chat-code-block .toolbar .action .insert-file .icon:hover {
  fill: var(--text-highlight);
  background: var(--btn-hover);
  border-radius: 5px;
}

.chat-code-block .insert,
.copy,
.insert-file {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.chat-code-block .toolbar .tips {
  display: none;
}

.chat-code-block .insert:hover .tips,
.chat-code-block .copy:hover .tips {
  display: block;
}

.chat-code-block .insert-file:hover .tips {
  transform: translateX(-60%);
  display: block;
}

.chat-code-block .insert-file:hover .tips:after,
.chat-code-block .insert-file:hover .tips:before {
  left: 60%;
}

.chat-code-block .content {
  font-weight: 500;
  background-color: var(--bg-code) !important;
  font-size: 13px;
  padding: 0 !important;
}

.chat-turn-view .user {
  /*text-align: right;*/
}

.chat-turn-view .user .role {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 40px;
  color: var(--text-default);
  font-size: 13px;
  font-weight: 700;
}

.chat-turn-view .user .avatar {
  margin-left: 5px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  user-select: none;
}

.chat-turn-view .user .message {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
}

.chat-turn-view .user .delete {
  margin-right: 10px;
  height: 16px;
  width: 16px;
  padding: 4px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--red);
  visibility: hidden;
  cursor: pointer;
}

.chat-turn-view .user .delete:hover {
  background: var(--btn-hover);
}

.chat-turn-view .user .message:hover .delete {
  visibility: visible;
}

.chat-turn-view .user .content {
  display: block;
  align-items: center;
  background-color: var(--bg-chat-message);
  padding: 8px;
  max-width: 400px;
  word-break: break-all;
  border-radius: 8px 0 8px 8px;
  user-select: text;
}

.chat-turn-view .user .content .command {
  margin-right: 1px;
  padding: 1px 4px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 13px;
  display: inline;
  height: 20px;
  border: 1px solid var(--line-03);
  background: var(--text-multcolor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chat-turn-view .user .content .reference {
  margin: 3px;
  padding: 2px 6px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 13px;
  display: inline;
  height: 20px;
  color: var(--text-highlight);
  background: var(--blue-tr-3);
  white-space: pre-wrap;
}

.chat-turn-view .user .content .text {
  color: var(--text-default);
  font-size: 13px;
  font-weight: 500;
  display: inline;
  max-width: 95%;
  white-space: pre-wrap;
}

.chat-turn-view .system .role {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 40px;
  color: var(--text-default);
  font-size: 13px;
  font-weight: 700;
  margin-top: 40px;
}

.chat-turn-view .system .role .name {
  min-width: max-content;
}

.chat-turn-view .system .avatar {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  user-select: none;
}

.chat-turn-view .system .thinking {
  color: var(--text-gray);
  opacity: 0.8;
  font-size: 11px;
  font-weight: 500;
  margin-left: 5px;
  height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chat-turn-view .system .reference {
  margin-bottom: 10px;
  user-select: none;
}

.chat-turn-view .system .reference .title {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.chat-turn-view .system .reference .title {
  color: var(--text-gray);
  font-size: 11px;
  height: 12px;
  line-height: 12px;
  font-weight: 500;
}

.chat-turn-view .system .reference .title:hover {
  color: var(--text-highlight);
}

.chat-turn-view .system .reference .title .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8px;
  width: 8px;
  padding: 2px;
  fill: var(--text-gray);
}

.chat-turn-view .system .reference .title:hover .icon {
  fill: var(--text-highlight);
}

.chat-turn-view .system .reference .list {
  margin-top: 5px;
  background: var(--bg-02);
  border: 1px solid var(--line-02);
  border-radius: 6px;
}

.chat-turn-view .system .reference .item {
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  height: 16px;
  border-radius: 4px;
  padding: 3px 0;
  margin: 4px;
  cursor: pointer;
}

.chat-turn-view .system .reference .item:hover {
  background: var(--btn-hover);
}

.chat-turn-view .system .reference .item .icon {
  height: 13px;
  width: 13px;
  padding-right: 2px;
  margin-left: 5px;
}

.chat-turn-view .system .reference .item .name {
  height: 16px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  margin-left: 5px;
  color: var(--text-default);
}

.chat-turn-view .system .reference .item .range {
  height: 16px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: var(--text-default);
  opacity: 0.8;
}

.chat-turn-view .system .content {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: var(--text-default);
  user-select: text;
}

.chat-turn-view .feedback {
  justify-content: start;
  align-items: center;
  height: 24px;
  display: flex;
  user-select: none;
}

.chat-turn-view .feedback-top .feedback .line {
  width: 4px;
  height: 10px;
  border-width: 0px;
  border-left: 1px;
  border-style: solid;
  margin: 0 2px 0 4px;
  border-color: var(--line-02);
}

.chat-turn-view .feedback-bottom .feedback .line {
  width: 1px;
  background: var(--line-02);
  height: 10px;
  margin-left: 10px;
}

.chat-turn-view .feedback-top {
  margin-left: auto;
  overflow: hidden;
  display: none;
}

.chat-turn-view .feedback-bottom {
  margin-top: 10px;
}

.chat-turn-view .system .role:hover .feedback-top {
  display: flex;
}

.chat-turn-view .feedback-top .feedback .like,
.chat-turn-view .feedback-top .feedback .dislike {
  height: 14px;
  width: 14px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /* margin-right: 3px; */
  cursor: pointer;
}

.chat-turn-view .feedback-bottom .feedback .like,
.chat-turn-view .feedback-bottom .feedback .dislike {
  height: 16px;
  width: 16px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 3px;
  cursor: pointer;
}

.chat-turn-view .feedback-bottom .feedback .like {
  margin-left: 10px;
}

.chat-turn-view .feedback-top .feedback .regenerate {
  min-height: 22px;
  min-width: 22px;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.chat-turn-view .feedback-bottom .feedback .regenerate {
  height: 24px;
  width: 24px;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.chat-turn-view .feedback-bottom .feedback .regenerate .icon {
  height: 18px;
  width: 18px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.chat-turn-view .feedback-top .feedback .regenerate .icon {
  height: 15px;
  width: 15px;
  padding: 3.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.chat-turn-view .feedback .regenerate:hover .tips {
  display: inline-flex;
}

.chat-turn-view .feedback .like:hover,
.dislike:hover,
.regenerate:hover {
  background: var(--btn-hover);
}

.chat-turn-view .error {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  background: var(--red-tr-1);
  border: 1px solid var(--red-tr-2);
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  padding: 6px 8px;
}

.chat-turn-view .error .message {
  font-size: 13px;
  font-weight: 500;
  color: var(--text-default);
  line-height: 16px;
}

.chat-turn-view .error .icon {
  display: flex;
  align-self: flex-start;
  margin-top: 2px;
}

.chat-turn-view .error .instruction {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
  color: var(--blue);
  font-size: 12px;
  font-weight: 500;
  margin-right: auto;
  column-gap: 16px;
  row-gap: 2px;
  line-height: 14px;
}

.chat-turn-view .error .retry,
.copy-log,
.user-group {
  cursor: pointer;
}

.chat-turn-view .error .user-group {
  display: flex;
}

.chat-turn-view .error .user-group .url {
  text-decoration: none;
  outline: none;
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: var(--blue);
  height: 14px;
  line-height: 14px;
}

.chat-turn-view .error .retry:hover,
.chat-turn-view .error .copy-log:hover,
.chat-turn-view .error .user-group .url:hover {
  color: var(--blue-hover);
}

.chat-turn-view .error .arrow {
  height: 14px;
  width: 14px;
  margin-left: 5px;
}

.chat-page .tips {
  display: none;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-bottom: 4px;
  transform: translateX(-50%);
  background: var(--bg-02);
  border: 1px solid var(--line-02);
  border-radius: 4px;
  justify-content: center;
  padding: 2px 6px;
  color: var(--text-default);
  white-space: nowrap;
  font-size: 10px;
}

.chat-page .tips:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px 5px 0;
  border-style: solid;
  border-color: var(--bg-02) transparent transparent transparent;
}

.chat-page .tips:before {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px 6px 0;
  border-style: solid;
  border-color: var(--line-02) transparent transparent transparent;
}

.chat-turn-view .system .content ol,
ul {
  padding-left: 1.5em;
}

.chat-turn-view .system .content pre {
  margin: 0 !important;
  padding: 10px !important;
}

.chat-turn-view .system .content pre code {
  background-color: var(--bg-code);
  padding: 0;
  font-size: 12px !important;
  font-family: menlo, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
}

.chat-turn-view .system .content code:not(.chat-code-block .content code) {
  color: var(--text-default);
  font-weight: 700;
  font-size: 12px;
  font-family: menlo, monospace !important;
  background-color: var(--bg-chat-message) !important;
  border: 1px solid var(--line-02);
  border-radius: 3px;
  padding: 1px 3px;
  margin: 2px;
}

.login-page {
  flex: 1;
  height: 90%;
  padding: 28px 20px;
  background-position: center;
  background-size: cover;

  background-image: url('../images/login-page-view/background.png');
}

.login-page .brand .text {
  font-weight: 700;
  font-size: 16px;
  margin-left: 5px;
  color: var(--text-highlight);
}

.login-page .en-title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  background: var(--login-text);
  width: 250px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-page .cn-title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  background: var(--guidance-title);
  width: 220px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-page .keyboard-text {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  max-width: 250px;
  color: var(--text-highlight);
}

.login-page .label-container {
  margin-top: 12px;
  display: flex;
  gap: 5px;
}

.login-page .label-container .chat-text {
  margin-top: 7px;
  display: flex;
  gap: 5px;
}

.chat-page .inline-container {
  width: 100%;
  align-items: flex-end;
  position: relative;
}

.chat-page .guidance-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 125px;
  border-radius: 4px;
  padding: 0.3px 0.8px;
  background-image: var(--input-bg-default);
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: 16px;
  cursor: pointer;
  overflow: hidden;
}

.chat-page .inline-container .close .text {
  position: relative;
  margin-bottom: 1.5px;
  margin-left: 0.2px;
}

.chat-page .inline-container .close {
  display: flex;
  width: 16px;
  position: absolute;
  z-index: 999;
  border-radius: 16px;
  height: 16px;
  align-items: center;
  margin-right: 9px;
  margin-left: auto;
  margin-bottom: -9px;
  justify-content: center;
  background: rgba(120, 120, 120, 0.7);
  display: none;
  cursor: pointer;
  right: 1px;
  top: -6px;
}

.chat-page .inline-container:hover .close {
  display: flex;
}

.chat-page .guidance-button-container .guidance-bg {
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  height: 26.8px;
  width: 150px;
  margin-top: 0.1px;
  margin-left: 0.1px;
  margin-left: 0.1px;
  border-radius: 3.4px;
  background: var(--guidance-bg);
  cursor: pointer;
  overflow: hidden;
}

.chat-page .guidance-button-container .guidance-white-bg:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.chat-page .guidance-button-container .text {
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  height: 27px;
  width: 150px;
  font-weight: 600;
  color: var(--text-highlight);
  background: var(--guidance-button-bg);
}

.chat-page .guidance-button-container .text:hover {
  background: var(--guidance-button-hover-bg);
}

.login-page .label-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 20px;
  border-radius: 4px;
  padding: 0 1px;
  background-image: var(--login-border);
}

.login-page .label-1 .text {
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  font-weight: 600;
  color: var(--text-default);
  background-color: var(--bg-02);
}

.login-page .label-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 32px;
  border-radius: 4px;
  padding: 0 1px;
  background-image: var(--login-border);
}

.login-page .label-2 .text {
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 32px;
  border-radius: 3px;
  font-weight: 600;
  color: var(--text-default);
  background-color: var(--bg-02);
}

.login-page .label-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 20px;
  border-radius: 4px;
  padding: 0 1px;
  background-image: var(--login-border);
}

.login-page .label-3 .text {
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  font-weight: 600;
  color: var(--text-default);
  background-color: var(--bg-02);
}

.login-page .login-button {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85px;
  border-radius: 100px;
  background-color: #1664ff;
  cursor: pointer;
}

.login-page .login-button:hover {
  opacity: 0.8;
}

.login-page .login-button .text {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  margin-left: 6px;
}

.login-page .login-button .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: #000000;
  font-size: 15px;
  font-weight: 500;
  margin: 5px 0 5px 7px;
  padding: 4px;
}

.login-page .login-button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
}

.guidance-container {
  overflow: auto;
}

.guidance-view {
  display: flex;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  flex-wrap: wrap;
  font-family: var(--font-family);
}

.guidance-view .divider {
  display: flex;
  width: 100%;
  margin-top: 25px;
  align-items: center;
}

.guidance-view .divider .text {
  font-size: 11px;
  color: var(--text-default);
  font-weight: 800;
  margin-right: 5px;
}

.guidance-view .divider .line {
  height: 1px;
  flex: 1;
  background: var(--line-02);
}

.guidance-view .gif {
  width: 100%;
  height: auto;
  background: var(--line-02);
  border-radius: 4px;
  padding: 1px;
}

.guidance-view .back-button-container {
  display: flex;
  width: 58px;
  height: 21px;
  border-radius: 4px;
  padding: 3px 0px 3px 4px;
  gap: 4px;
  font-size: 13px;
  font-weight: 600;
  font-family: SF Pro Text, Consolas;
  background: var(--fill-01);
  cursor: pointer;
}

.guidance-view .back-button-container:hover {
  background: var(--btn-hover);
}

.guidance-view .title {
  display: block;
  height: 30px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  align-items: center;
  width: 100%;
  margin-top: 28px;
}

.guidance-view .content {
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: var(--text-default);
  margin-top: 15px;
}

.guidance-view .content .shortCuts {
  color: var(--blue);
  cursor: pointer;
}

.guidance-view .content .shortCuts:hover {
  color: var(--blue-hover);
}

.guidance-view .content .highlight {
  background-color: var(--highlight-bg);
  color: #000000;
  height: 18px;
  min-width: 14px;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1px 3px 1px 3px;
}

.guidance-view .back-button-container .back-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
  fill: var(--text-default);
}

.guidance-view .back-button-container .text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-default);
  font-family: SF Pro Text, Consolas;
}

.guidance-view .color-title {
  display: inline-flex;
  margin-top: 28px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  background: var(--guidance-title);
  height: 30px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.guidance-view .non-color-title {
  color: var(--text-default);
  display: block;
  margin-top: 28px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  max-width: 250px;
}

.guidance-view .beta {
  display: inline-block;
  background: #c25eff;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 13px;
  padding: 0px 8px 0px 8px;
  -webkit-text-fill-color: white;
}

.guidance-view .space {
  display: block;
  height: 50px;
  width: 300px;
  bottom: -50px;
}

.guidance-view .gif {
  background-color: var(--line-02);
  padding: 1px;
  border-radius: 4px;
}

.inputView-container {
  position: absolute;
  pointer-events: none;
  bottom: 0px;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.inputView-color-bg {
  pointer-events: none;
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 200px;
  border-radius: 400px;
  opacity: 0.12;
  background: var(--input-view-bg);
  filter: blur(50px);
}

.chat-operation-banner {
  position: relative;
  height: 30px;
  border-radius: 4px;
  padding: 0.8px 0.8px;
  background-image: var(--input-bg-default);
  margin-bottom: 28px;
  margin-left: -7px;
  margin-right: -7px;
  overflow: hidden;
}

.chat-operation-banner.login-view {
  margin-top: -20px;
  margin-bottom: 40px;
  margin-left: -14px;
  margin-right: -16px;
}

.chat-operation-banner .background {
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  height: calc(100% - 0.5px);
  border-radius: 3.4px;
  background: var(--guidance-bg);
  overflow: hidden;
}

.chat-operation-banner .background-white {
  background-color: rgba(255, 255, 255, 0.7);
}

.chat-operation-banner .content {
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  color: var(--text-highlight);
  background: var(--guidance-button-bg);
  width: 100%;
  height: 100%;
}

.chat-operation-banner .goto-url {
  cursor: pointer;
}

.chat-operation-banner .content span:first-child {
  flex-shrink: 1;
  flex-grow: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  font-weight: 400;
  /* user-select: none; */
}

.chat-operation-banner .content span:last-child {
  flex-shrink: 0;
  flex-grow: 0;
  white-space: nowrap;
  margin-right: 8px;
  font-weight: 600;
}
.vip-logo {
  background: linear-gradient(265deg, rgb(99, 72, 254) -3.71%, rgb(8, 223, 176) 103.83%);
  border-radius: 2px;
  font-size: 12px;
}

html,
body {
  margin: 0;
  padding: 0;
  margin-bottom: 180px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.loader {
  margin: 0 0 2em;
  min-height: 30px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

@keyframes loadingG {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(170px, 0) rotate(360deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.code {
  white-space: pre;
}
.theme-atom-one-dark {
  border-radius: 4px;
}
p {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.m-w-1 {
  min-width: 0.25rem;
}
/* overrides vscodes style reset, displays as if inside web browser */
ul,
ol {
  list-style: initial !important;
  margin-left: 10px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}

.command-palette {
  position: relative;
  width: 300px;
}

#command-input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
}

.suggestions {
  position: fixed;
  list-style: none;
  z-index: 1000;
  bottom: 180px;
  left: 0;
  background: var(--bg-02);
  border: 1px solid var(--line-02);
  border-radius: 6px;
  padding: 10px 5px 10px 5px;
  margin: 10px 15px 0 15px !important;
  width: calc(100% - 42px);
  box-shadow: var(--box-shadow);
  box-sizing: content-box;
}

.suggestions li {
  cursor: pointer;
  color: #ccc;
  padding: 5px 8px;
  border-radius: 5px;
  list-style: none;
  margin-top: 5px;
}
.suggestions li :first-child {
  margin-top: 0px;
}
.suggestions li div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.suggestions li.selected {
  background: #282828;
}
.suggestions span {
  color: #61dafb;
  font-weight: 500;
}
.vip-logo {
  background: linear-gradient(265deg, rgb(99, 72, 254) -3.71%, rgb(8, 223, 176) 103.83%);
  border-radius: 2px;
  font-size: 12px;
}

.ai-command {
  background-color: #3f2e59;
  color: #ccc;
  border-radius: 4px;
  margin-right: 10px;
  padding: 4px 8px;
}
.ask-content pre {
  white-space: break-spaces;
}

.hljs-tag {
  color: #e6c07b;
}
.hljs-tag .hljs-name {
  color: #4abaa3;
}
.hljs-tag .hljs-attr {
  color: #ccc;
}
.welcome-message {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #e0e0e0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.command-item {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.command-item:hover {
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.08);
}
.command-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}
.command-title {
  font-weight: bold;
  color: #b19dd0;
}
.command-description {
  font-size: 0.9rem;
  color: #a0a0a0;
  margin-top: 0.25rem;
}
.shortcut {
  background-color: #3a3a3a;
  color: #e0e0e0;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-size: 0.8rem;
  margin: 0 0.2rem;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.chat-input {
  --input-bg-activate: radial-gradient(
    121.09% 172.92% at 0% 4.17%,
    #0058dc 0%,
    #6aa6ff 45.75%,
    #ffffff 71.03%,
    #ff8a4f 81.96%,
    #b43aff 91.67%
  );
  background-image: radial-gradient(
    121.09% 172.92% at 0% 4.17%,
    rgba(0, 88, 220, 0.7) 0%,
    rgba(106, 166, 255, 0.7) 45.75%,
    rgba(255, 255, 255, 0.7) 71.03%,
    rgba(255, 138, 79, 0.7) 81.96%,
    rgba(180, 58, 255, 0.7) 91.67%
  );
  padding: 2px;
  border-radius: 8px;
  position: relative;
  transition: all 0.3s ease;
}

.chat-input:hover:before,
.chat-input:focus-within:before {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background: var(--input-bg-activate);
  filter: blur(4px);
  z-index: -1;
  opacity: 0.7;
}
.chat-input .container {
  border-radius: 6px;
  padding: 0 6px;
  position: relative;
  z-index: 1;
}
